@media (max-width: 767.98px) {
    .background {
        margin-bottom: 80px;
    }
}
@media (min-width: 768px) {
    .background {
        margin-bottom: 50px;
    }
}
.section-vantagens {
    position: relative;  
}

