<section class="section-counters">
  <div class="transition-sections transition-sections-invertido z-index-25" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="white" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="transition-sections transition-sections-bottom z-index-25" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="white" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="background">
    <div class="background-overlay"></div>
    <div class="d-flex counters flex-column flex-md-row justify-content-around align-items-center z-index-25 px-5">
      <div class="d-flex flex-column">
        <h1>387</h1>
        <h3>Lorem</h3>
      </div>
      <div class="d-flex flex-column">
        <h1>10</h1>
        <h3>Ipsum Lorem</h3>
      </div>
      <div class="d-flex flex-column">
        <h1>36</h1>
        <h3>LoremIpsum</h3>
      </div>
    </div>
  </div>
</section>