<section class="section-info-02">
  <div class="transition-sections transition-sections-bottom z-index-25" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="white" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="background">
    <div class="background-overlay"></div>
    <div class="container">
      <div class="d-flex flex-column flex-md-row pb-80px">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center align-items-md-start">
          <h1 class="py-4">Já conhece nosso app?</h1>
          <p class="pb-5">Fique por dentro das principais desconto das lojas perto de você, compare preço, economize e
            ainda acumule pontos para trocar por descontos.</p>
        </div>
        <div class="col-12 col-md-6">
          <div class="imagem">
            <img src="/assets/images/gobuy.png" title="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>