<section id="beneficios" class="section-vantagens pb-5">
  <div class="transition-sections transition-sections-bottom" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="#048491" class=" transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="background">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center title pb-5">
        <h3 class="py-2">---</h3>
        <h1 class="py-2">Quais benefícios?</h1>
        <div class="elementor-divider">
          <span class="elementor-divider-separator">
          </span>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center box mb-4 mb-md-0">
          <div class="py-2 z-index-50">
            <img src="/assets/images/dart-board.png" title="" alt="">
          </div>
          <h3 class="py-2">Ganhe tempo</h3>
          <p class="py-2">Você escaneia o QRCode presente na entrada do
            shopping e recebe tudo que precisa na palma da sua mão</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center box mb-4 mb-md-0">
          <div class="py-2 z-index-50">
            <img src="/assets/images/money-bag.png" title="" alt="">
          </div>
          <h3 class="py-2">Economize dinheiro</h3>
          <p class="py-2">Um marketplace virtual que lhe permite comparar preços e comprar
            direto pelo App</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center box mb-4 mb-md-0">
          <div class="py-2 z-index-50">
            <img src="/assets/images/line-chart.png" title="" alt="">
          </div>
          <h3 class="py-2">Acumule pontos</h3>
          <p class="py-2">Junte pontos a cada compra e troque por descontos na loja</p>
        </div>
      </div>
    </div>
  </div>
</section>