$laranja: #ff7542;
$preto: #30353d;

@media (max-width: 767.98px) {
    .background {
        margin-bottom: 80px;
    }
}
@media (min-width: 768px) {
    .background {
        margin-bottom: 150px;
    }
}
.section-vantagens {
    position: relative;
    padding-bottom: 80px;
    .background {
        background: url(/assets/images/bg-padrao-claro.png);
        background-repeat: no-repeat;
        background-position: top;
    }
    .title {
        h3 {
            color: $laranja;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        h1 {
            color: $preto;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
        }
    }   
    .box {
        box-shadow: 0px 0px 15px 0px #eff7ff;
        transition: border-radius 0.3s, box-shadow 0.3s, transform 0.3s;
        margin: 0px 15px 0px 0px;
        padding: 70px 25px 67px 25px;
        background: white;
        position: relative;
        h3 {
            font-size: 24px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            line-height: 1.6em;
        }
        &:hover {
            transform: translateY(-20px);
            box-shadow: 0px -10px 50px 0px #eff7ff;
            border-radius: 4px;
        }
        &:after {
            content: "";
            width: 120px;
            height: 120px;
            background: #fff4f0;
            display: block;
            position: absolute;
            top: 16%;
            left: 50%;
            z-index: 1;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            overflow: hidden;
            transition: 300ms all;
            transform: translateX(-50%);
            animation: ball_animation 6s infinite;
        }
    }
}
.box:hover::after,.box:hover::before {
    transition:200ms;
    animation: ball_animation 6s infinite;
    opacity:1;
}
