$cor-padrao: #048491;

@media (max-width: 767.98px) {
    h1 {
        text-align: center;
        font-size: 32px;
    }
    p {
        text-align: center;
    }
}
@media (min-width: 768px) {
    h1 {
        text-align: start;
        font-size: 58px;
    }
    p {
        text-align: start;
    }
}

.section-info-01 {
    position: relative;
    background: $cor-padrao;
    h1 {
        color: white;
        font-weight: 600;
        line-height: 1.1em;
    }
    p {
        color: rgba(255,255,255,0.73);
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7em;
    }
    
}
.pb-80px {
    padding-bottom: 80px;
}
////
$midnight: #2c3e50;
$laranja: #074950;;
// General
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* ACORDION */
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 1em;
    background-color: rgba(255,255,255,0.06);
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background:rgba(255,255,255,0.06);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: rgba(255,255,255,0.06);
    transition: all .35s;
    cursor: pointer;
    &:hover {
      background: rgba(255,255,255,0.06);
    }
  }
}
// :checked
input:checked {
  + .tab-label {
    margin-bottom: 0px;
    background-color: $laranja;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    margin-bottom: 10px;
    background-color: $laranja;
    color: #ffffff;
  }
}
