<section class="section-hero">
  <div class="transition-sections transition-sections-bottom" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="white" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="background">
    <div class="container px-0">
      <div class="d-flex flex-column">
        <!--menu-header-->
        <header class="d-none d-md-block d-lg-block">
          <div class="header-top pt-4 pb-5 px-3 w-100 d-flex justify-content-between flex-row">
            <h3>Logo</h3>
            <nav>
              <ul>
                <li>
                  <h6>Home</h6>
                </li>
                <li>
                  <h6>Blog</h6>
                </li>
                <li>
                  <h6>Shop</h6>
                </li>
                <li>
                  <h6>Contact</h6>
                </li>
                <li>
                  <button type="button" size="sm" mdbBtn color="primary" mdbWavesEffect>Primary</button>
                </li>
              </ul>
            </nav>
          </div>
        </header>
        <!--/menu-header-->
        <div class="col-12 py-3 d-flex flex-column flex-md-row text-hero-left">
          <div
            class="col-12 col-md-6 col-lg-6 py-4 py-md-0 d-flex justify-content-center align-items-center align-items-md-start flex-column">
            <div class="d-flex flex-column">
              <h1>Best app for <br> increasing traffic.</h1>
              <h5>Quisque nisi magna, pretium a faucibus non, blandit quis nisl. Ut vehicula massa eget nulla egestas
                tempus. In posuere blandit ullamcorper. </h5>
            </div>
            <div class="d-flex flex-column flex-md-row">
              <button type="button" mdbBtn color="primary" mdbWavesEffect>Botao 1</button>
              <button type="button" mdbBtn color="primary" mdbWavesEffect>Botão 2</button>
            </div>
          </div>
          <div class="col-12 px-0 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center">
            </div>
            <img src="/assets/images/imagem-right-hero.png" title="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>