<section class="section-hero">
  <div class="transition-sections transition-sections-bottom" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="white" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="d-lg-none d-md-none d-xl-none">
    <mdb-navbar SideClass="navbar navbar-1 navbar-light amber white" [containerInside]="false">
      <mdb-navbar-brand><a class="navbar-brand" href="#">NextToll</a></mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="#beneficios" class="nav-link waves-light" mdbWavesEffect>Benefícios</a>
          </li>
          <li class="nav-item">
            <a href="#nossoapp" class="nav-link waves-light" mdbWavesEffect>Nosso App</a>
          </li>
          <li class="nav-item">
            <a href="#vantagens" class="nav-link waves-light" mdbWavesEffect>Vatangens</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </div>
  <div class="background">
    <div class="container px-0">
      <div class="d-flex flex-column">
        <!--menu-header-->
        <header class="d-none d-md-block d-lg-block">
          <div class="header-top pt-4 pb-5 px-3 w-100 d-flex justify-content-between flex-row">
            <img src="/assets/images/logo.png" title="" alt="" width="200px">
            <nav>
              <ul class="links-menu">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#beneficios">Benefícios</a>
                </li>
                <li>
                  <a href="#nossoapp">Nosso App</a>
                </li>
                <li>
                  <a href="#vantagens">Vantagens</a>
                </li>
              </ul>
            </nav>
          </div>
        </header>
        <!--/menu-header-->
        <div class="col-12 py-3 d-flex flex-column flex-md-row text-hero-left">
          <div
            class="col-12 col-md-6 col-lg-6 py-4 py-md-0 d-flex justify-content-center align-items-center align-items-md-start flex-column">
            <h1 class="mb-3">Uma nova experiência de compras</h1>
            <h5 class="mb-5">Através de nossa plataforma você fica conectado com as melhores lojas parceiras perto de
              sua localização e ganha diversos benefícios</h5>
            <span class="button-pulse-animation button-bg-white  mb-5">
              <a href="">
                <span>Baixe Agora</span>
              </a>
            </span>

          </div>
          <div class="col-12 px-0 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center">
            </div>
            <img src="/assets/images/90001.png" title="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>