<section class="footer">
  <div style="margin-top: -40px;" class="transition-sections transition-sections-top" data-negative="false">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path fill="#313340" class="transition-sections-fill"
        d="M0,0c0,0,0,6,0,6.7c0,18,240.2,93.6,615.2,92.6C989.8,98.5,1000,25,1000,6.7c0-0.7,0-6.7,0-6.7H0z"></path>
    </svg>
  </div>
  <div class="background">
    <div class="container d-flex flex-column flex-md-row pt-4 flex-wrap">
      <div class="col-12 col-md-12">
        <span>
          <h2 class="font-weight-bold pos-rel title--">Go Buy</h2>
        </span>
        <h6>Uma empresa nascida no MegaHack 2020.</h6>
      </div>
      <!--div class="col-3"></div-->
      <!--div class="col-12 col-md-3">
        <span>
          <h2 class="font-weight-bold pos-rel title--">Title</h2>
        </span>
        <ul class="d-flex flex-column align-items-start mt-3">
          <li><i class="fas fa-caret-right pr-2 my-2"></i> <span>Lorem</span> </li>
          <li><i class="fas fa-caret-right pr-2 my-2"></i> <span>Lorem</span> </li>
          <li><i class="fas fa-caret-right pr-2 my-2"></i> <span>Lorem</span> </li>
          <li><i class="fas fa-caret-right pr-2 my-2"></i> <span>Lorem</span> </li>
          <li><i class="fas fa-caret-right pr-2 my-2"></i> <span>Lorem</span> </li>
        </ul>
      </div-->
      <!--div class="col-12 col-md-3 my-3 my-md-0">
        <span>
          <h2 class="font-weight-bold pos-rel title--">Newsletter</h2>
        </span>
      </div-->
      <div class="col-12 mt-5 border-top-footer px-0">
        <div class="d-flex justify-content-between">
          <h6>Copyright | 2020</h6>
          <h4></h4>
        </div>
      </div>
    </div>
  </div>
</section>